<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else if(pagination ==1){ %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>

<%} else {%>
<div class="">
<div class="row-fluid tree_07 " >

  <div class="tree-left-foli archives col-lg-6 col-md-6 col-xs-6 pull-left">
  <% page.posts.each(function(post, i){%>
      <%if (i % 2 != 0) {%>
      <%- partial('archive-post', {post: post}) %>
      <%}%>
  <% }) %>
  </div>
  <div class="tree-right-foli archives-r col-lg-6 col-md-6 col-xs-6 pull-right">
  <% page.posts.each(function(post, i){%>
      <%if (i % 2 == 0) {%>
      <%- partial('archive-post', {post: post}) %>
      <%}%>
  <% }) %>
  </div>
</div>

<!-- <div class="row-fluid tree_06" ><img src="/images/layout_bg_06.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_05" ><img src="/images/layout_bg_05.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_04" ><img src="/images/layout_bg_04.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_03" ><img src="/images/layout_bg_03.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_02"><img src="/images/layout_bg_02.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_01"><img src="/images/layout_bg_01.png" style="width:100%;height:auto;" /></div> -->

<div class="row-fluid tree_06" ><img src="https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_06.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_05" ><img src="https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_05.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_04" ><img src="https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_04.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_03" ><img src="https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_03.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_02"><img src="https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_02.png" style="width:100%;height:auto;" /></div>
<div class="row-fluid tree_01"><img src="https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_01.png" style="width:100%;height:auto;" /></div>
</div>
<% } %>

<% if (page.total > 1){ %>
  <nav id="page-nav">
    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>
